.wrapper {
  display: flex;
  width: 600px;
  height: 200px;
}

.container {
  display:flex;
  background-color: rgb(255,214,42);
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

ul {
  list-style: none;
}

.item {
  background-color: rgb(176,42,255);
  width: 65px;
  height: 65px;
  margin-right: 0;
  margin-left: 5px;
}