<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cocktails</title>
  </head>
  <body>
  <h2>The following cocktails contain <%=name%>: </h2>
    <p><%=alcohol%></p>
  </body>
</html>