<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <table>
    <th><button id="firstbutton">Medical</button></th>
    <th><button>Science</button></th>
    <th><button>Technology</button></th>
    <th><button>Nature</button></th>
    <th><button>Computers</button></th>
  </table>
  <div id="wrapper">
  <table id="content">
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Category</th>
    <th>Price</th>
    </tr>
  </table>
</div>
  <script src="/assets/js/frontend2.js"></script>
</body>
</html>