<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <table>
    <th><button class="filter" id="medicalButton">Medical</button></th>
    <th><button class="filter" id="scienceButton">Science</button></th>
    <th><button class="filter" id="technologyButton">Technology</button></th>
    <th><button class="filter" id="natureButton">Nature</button></th>
    <th><button class="filter" id="computerButton">Computers</button></th>
  </table>
  <table id="content">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    <tbody id="tablecontent">
    </tbody>
  </table>
  <script src="/assets/js/frontend2.js"></script>
</body>
</html>