.something {
  width: 700px;
  height: 100px;
  margin-bottom: 10px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 60px;
  height: 20px;
  margin-left: 20px;
}

#addNewQuestion {
  display: flex;
  flex-direction: column;
}

#submitButton {
  width: 70px;
  height: 30px;
}