<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/css/add-new-post.css" />
    <title>Document</title>
  </head>
  <body>
    <form id="myForm">
      <div id="newpost">
        <label for="title">Title:</label>
        <input
          type="text"
          placeholder="Add your title here"
          name="title"
        />
        <label for="url">URL:</label>
        <input
          type="text"
          placeholder="Write your post here"
          name="url"
        />
        <br />
        <button type="submit" id="createpost">Submit</button>
      </div>
    </form>
  </body>
  <script src="/assets/js/add-new-post.js"></script>
</html>
