<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/views/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="top">
    <button class="firstbutton">
    <img class='buttonpic1' src="<%=button1%>">
    </button>
      <div class="inbetween">
      <img src="https://cdn.cnn.com/cnnnext/dam/assets/180612102033-01-baobob-tree-restricted-super-tease.jpg">
      <div class="buttom">
      <p>asdfs</p>
      <p>agaa</p>
      </div>
      </div>
    <button class="secondbutton">
    <img class="rightbutton" src="<%=button1%>">
    </button>
    </div>
  </div>
  <div class="gallery">
  <p class="thumbnail">
  <img class="gallerimgs" src="">
  </p>
  <p class="thumbnail">
  <img class="gallerimgs" src="">
  </p>
  <p class="thumbnail">
    <img class="gallerimgs" src="">
  </p>
  <p class="thumbnail">
  <img class="gallerimgs" src="">
  </p>
  </div>
</body>
</html>