<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/views/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <button class="firstbutton">
    <img src="https://banner2.kisspng.com/20180404/uwe/kisspng-computer-icons-arrow-button-left-arrow-5ac49fc2edf791.1094948515228353949747.jpg">
    </button>
    <img src="">
      <div class="description">
        <h1 class="imgtitle"></h1>
        <p class="imgdescription"></p>
      </div>
    <button class="secondbutton">
    <img class="rightbutton" src="https://banner2.kisspng.com/20180404/uwe/kisspng-computer-icons-arrow-button-left-arrow-5ac49fc2edf791.1094948515228353949747.jpg">
    </button>
  </div>
  <div class="gallery">
    <ul>
    <li>picture</li>
    <li>picture</li>
    <li>picture</li>
    <li>picture</li>
    <li>picture</li>
    <li>picture</li>
  </ul>
  </div>
  <script src=""></script>
</body>
</html>