.container {
  display: flex;
  flex-direction: column;
}

.top {
  margin: auto;
  width: 80%;
  height: 600px;
  border: solid;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inbetween {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttom {
  position: relative;
  bottom: 85px;
  width: 100%;
  color: greenyellow;
  background-color: rgba(0,0,0,0.2);
} 

img {
  width: 100%;
  height: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

.buttonpic1 {
  width: 50px;
  height: 50px;
}

.firstbutton {
  flex-grow: 1;
  background-color: white;
}

.secondbutton {
  flex-grow: 1;
  background-color: white;
}

.centerimage {
  flex-grow: 2;
}

.rightbutton {
  transform: rotate(180deg);
  width: 50px;
  height: 50px;
}

.gallery {
  margin: auto;
  border: solid;
  width: 60%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.thumbnail {
  height: 50px;
  width: 50px;
  margin: 20px;
  background-color: white;
  padding: 5px;
  border: solid;
}